*{
    margin: 0;
    padding: 0;
    font-family: letra;
    box-sizing: border-box;
}

@font-face {
    font-family: ;
    src: url(fonts/);
}

.encabezado{
    background: rgba(255,81,17,1) ;
    height: 150px;
    width: 100%;
}

h1{
    color: white;
    font-size: 70px;
}