*{
    margin: 0;
    padding: 0;
    font-family: letra;
    box-sizing: border-box;
}

@font-face {
    font-family: letra;
    src: url(/archivos15/fonts/Raleway.ttf);
}

.encabezado{
    background: rgba(255,81,17,1) ;
    height: 150px;
    width: 100%;
}

h1{
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}

.izquierda{
    display: block;
    height: 20px;
    width: 500px;
    align-items: end;
}

.izquierda>img{
    height: 40px;
    border: 1px solid ;
}

#contenido{
    background: rgba(255,147,107,0.5);
    display: flex;
    height: 85vh;
    width: 100%;
}

.grupo{
    background: rgba(255,226,215,1);
    margin: 15px;
    width: 98%;
    height: 80vh;
    border-radius: 5px;
}

.fila1{
    display: flex;
}

.imagenes1{
    background: url(../img/nieve.jpg);
    height: 30vh;
    width: 400px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
}

.imagenes2{
    background: url(../img/trekking.jpg);
    height: 30vh;
    width: 400px;
    max-width: 400px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
}

.imagenes3{
    background: url(../img/fitness.jpg);
    height: 30vh;
    width: 400px;
    max-width: 400px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
}

.imagenes4{
    background: url(../img/ciclismo.jpg);
    height: 30vh;
    width: 400px;
    max-width: 400px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
}

.imagenes1:hover{
    background: url(../img/baile.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
}