*{
    margin: 0;
    padding: 0;
    font-family: letra;
    box-sizing: border-box;
}

@font-face {
    font-family: letra;
    src: url(/archivos15/fonts/Raleway.ttf);
}

.encabezado{
    background: rgba(255,81,17,1) ;
    height: 150px;
    width: 100%;
}

h1{
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}

.izquierda{
    display: block;
    height: 20px;
    width: 500px;
    align-items: end;
}

.izquierda>img{
    height: 40px;
    border: 1px solid ;
}

#contenido{
    background: rgba(255,147,107,0.5);
    height: 85vh;
    width: 100%;
}

.grupo{
    background: rgba(255,226,215,1);
    width: 100%;
    height: 95%;
}