*{
    margin: 0;
    padding: 0;
    font-family: letra;
    box-sizing: border-box;
}

@font-face {
    font-family: letra;
    src: url(fonts/Muli-Regular.ttf);
}

body{
    display: flex;
    align-items: center;
    align-content: center;
}

.centrar{
    margin: auto;
}

.encabezado{
    margin-top: 10px;
    padding:10px;
    height: 60px;
    width: 500px;
    border-radius: 10px;
    background-color: #83737d;
    color: #fdf5e6;
    text-align: center;
}

#menu{
    top: 50px;
    left: 30px;
    width: 350px;
    height: 200px;
    margin-top: 20px;
    padding-left: 30px;
}

#flex{
    display: flex;
}

#menu>a{
    display: block;
    text-decoration: none;
    color: #83737d;
    border: 1px solid #83737d; 
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
}

#menu>a:hover{
    background-color: #83737d;
    color: white;
}
#lateral{
    width: 250px;
    text-align: justify;
    padding: 15px;
    color: #83737d;
}

#contenedor{
    background-color: #83737d;
    border-radius:10px;
    padding: 40px;
    width: 600px;
}

.img1{
    height: 150px;
    margin-right: 10px;
}

.img2{
    height: 150px
}